@import './fonts.css';

@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@import './tokens.css';
@import './tailwind-theme.css';
@import './semantics.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-gsgs-sans);
  }
}
